body {
  background-color: rgba(109, 137, 207, 0.744);
}
div {
  padding: 1px;
}
h1 {
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.meny {
  width: 100%;
  background-color: whitesmoke;
  border-width: 100%;
  display: flex;
  list-style: none;
}
nav {
  display: flex;
}
a {
  font-size: large;
  position: static;
  display: -webkit-inline-box;
}
p {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  position: -webkit-sticky;
  right: 200px;
  nav-right: root;
  margin-left: 150px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h3 {
  margin-left: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h4 {
  margin-left: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h5 {
  margin-left: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.img {
  display: -webkit-inline-flex;
}
.div2 {
  margin: 0px;
}
.div3 {
  margin: 0px;
}
.img2 {
  display: -webkit-inline-flex;
}
.house3 {
  position: -webkit-sticky;
  margin-top: -365px;
  margin-left: 418px;
}
.jets1 {
  display: inline-flex;
}
.jets2 {
  display: inline-flex;
}
.jets3 {
  display: flex;
}
.divmain {
  margin-top: 100px;
  margin-left: 800px;
}
.divmain2 {
  margin-left: 300px;
  margin-top: -400px;
  border-right-width: 50%;
}
.divmain2:hover {
  padding: 150px;
  margin: 150px;
  border-radius: 200%;
  transition: all 10s;
}
.divmain3 {
  margin-top: -400px;
  margin-left: -20px;
}
.divmain3:hover {
  padding: 150px;
  margin: 150px;
  border-radius: 250%;
  transition: all 12s;
}
@media screen and (max-width: 390px) {
  body {
    overflow-y: visible;
  }
}
@media screen and (max-width: 820px) {
  body {
    overflow-y: auto;
  }
  meny {
    border-width: 200%;
  }
}
