body {
  background-image: url("44ebc3095a5deba2973f0e5fd3fb92b5.gif");
  background-repeat: none;
  background-size: 100%;
}
h1 {
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.home {
  padding-top: 20px;
  padding-right: 30px;
}

header:hover {
  transition: 2s;
  color: darkred;
}

.menu-item:hover {
  color: blue;
  transition: 2s;
}
a:hover {
  transition: 2s;
  color: green;
  @keyframes mymove {
    from {
      top: 0px;
    }
    to {
      top: 200px;
    }
  }
}
header {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(32, 25, 184, 0.863649683506215) 0%,
    rgba(167, 30, 54, 1) 46%,
    rgba(122, 87, 13, 1) 63%,
    rgba(8, 103, 43, 1) 84%,
    rgba(2, 0, 36, 1) 100%
  );
  display: flex;
  justify-content: space-between;
}

a {
  font-size: large;
  display: -webkit-inline-box;
  text-decoration: none;
  color: darkred;
}
p {
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
}

.menu-item {
  margin: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
input[type="text"],
input[type="password"] {
  border-color: darkslateblue;
  border-block-width: 10px;
  border-radius: 50px;
  font-size: large;
}

label {
  display: inline-block;
  width: 100px;
}

.img {
  display: -webkit-inline-flex;
}

.img2 {
  display: -webkit-inline-flex;
}

.jets1 {
  display: inline-flex;
}
.jets2 {
  display: inline-flex;
}
.jets3 {
  display: flex;
}
.divmain {
  margin-top: 124px;
  margin-left: 870px;
}
.divmain2 {
  margin-left: 350px;
  margin-top: -530px;
}
.divmain2:hover {
  padding: 170px;
  margin: 170px;
  border-radius: 100%;
  transition: all 7s;
}

.divmain3 {
  margin-top: -220px;
  margin-left: -20px;
}
.divmain3:hover {
  padding: 50px;
  margin: 50px;
  border-radius: 100%;
  transition: all 7s;
}

@media screen and (max-width: 820px) {
  .img2,
  .img,
  .jets1,
  .jets2,
  .jets3 {
    flex-wrap: wrap;
    font-size: xx-large;
    font-weight: 400;
    flex-direction: column;
  }
  header {
    border-width: 820px;
    flex-direction: column;
  }
}
.namn {
  font-size: large;
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 200px;
  }
}
